

    .JobSection{   
    .JobHeadSec{
        .JobDetailSec {
            margin-top: 35px;
            padding: 30px 45px;
            h5{
                margin-bottom: 20px;
                font-weight: 700;
            }
            h1{
                margin-bottom: 10px;
            }
            p{
                font-size: 14px;
                margin-bottom: 5px;
            }
            span{
                font-weight: 700;
                a {
                    color: #248db8;
                &:hover{
                    text-decoration: underline;
                }
                }
            }
            .HiringDetails {
                margin-top: 40px;
                color: #4a4a4a;
                font-size: 14px;
                .HiringList{
                    ul{
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media  (max-width: 768px) {
    .MainCommon{
        margin-top: 35px;
        .JobSection {       
        .JobDetailSec {
            margin-top: 30px !important;
            padding-top: 30px !important;
        }
    }
}}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media  (min-width: 768px) and (max-width:992px){}

/* Medium devices (landscape tablets, 768px and up) */
@media  (min-width: 992px) and (max-width:1200) {}

/* Large devices (laptops/desktops, 992px and up) */
@media  (min-width: 1200px) and (max-width:1400) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media  (min-width: 1400px) {}