.RefundSection{
    .RefundDetailHead{
        h3{
            font-weight: 700;
        }
    p{
        color: #4a4a4a;
    }
    .RefundImage{
        margin: 40px 0;
        img{
            width: 100%;
        }
    }
}}