.RefundSection{
    .RefundDetailHead{
        img{
            width: 100%;
        }
        h3{
            font-weight: 700;
            text-align: start !important;
        }
    p{
        color: #4a4a4a;
    }
   
}}