$color-red: #FF2851;
$color-white: #ffffff;
.NavbarSection {
    nav.navbar {
        background-color: #000;
        ul.navbar-nav {
            margin-right: 40px;
        }
        img.HeaderLogoIcon {
            width: 121px;
        }

        li.nav-item {
            font-weight: 500;
            font-size: 13px;
            padding: 0 10px;
            a.nav-link.active{
                border-bottom: 2px solid $color-red;
                padding-bottom: 0;
            }
            a.nav-link{
                color:  $color-white;
                padding: 5px 0;
            }
            
            a.nav-link:hover {
                padding-bottom: 0px;
                border-bottom: 2px solid $color-red;
                transition: 0;
            }
            ul.dropdown-menu {
                border-radius: 3px;
                a.dropdown-item {
                    font-size: 14px;
                }
                a.dropdown-item:active{
                    background-color: #fff;
                    color: #000;
                }
            }
        }
        .SocialIcons{
            a {
                text-decoration: none;
                i.fa-brands {
                    color: black;
                    background-color: grey;
                    border-radius: 50%;
                    padding: 3px;
                    font-size: 12px;
                }
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media  (max-width: 768px) {
    .mobileViewHide {
        display: none;
    }
 
    button.navbar-toggler{
        transform: rotate(90deg);
        width: 64px;
    }
    span.icon-bar {
        background-color: white;
        padding: 1px;
        margin: 4px;
    }
    span.navbar-toggler-icon {
        position: relative;
        z-index: -1;
        top: -4px;
        left: -28px;
    }
    .NavbarSection nav.navbar {
        padding: 3px 0;
        img.HeaderLogoIcon {
            padding: 7px 0;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media  (min-width: 768px) and (max-width:992px){}

/* Medium devices (landscape tablets, 768px and up) */
@media  (min-width: 992px) and (max-width:1200) {}

/* Large devices (laptops/desktops, 992px and up) */
@media  (min-width: 1200px) and (max-width:1400) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media  (min-width: 1400px) {}